<%# JOB PAY VIEW%>
<% content_for(:page_nav) do %>
<% end %>

<% content_for(:page_stat) do %>
<% end %>

<% content_for(:page_info) do %>
	<p><%=h Date.today.strftime("%B %d, %Y") %></p>
	<h3><%=h @user.full_name %></h3>
	<p><%=h @user.email %><br/> <%=h @user.phone_formatted %></p>
<% end %>

<% if @jobs.count > 0 %>

<table id="main_table" cellspacing="0">
<caption><%=h @table_caption %></caption>

<table id="main_table" cellspacing="0">
<%= render :partial => "jobs_table", :locals => {:rows => @jobs, :buttons => false, :checkbox => false }   %>

	<tr class="total">
		<td colspan="8"></td>
		<td class="number">Total</td>
		<td class="number"><%=h number_to_currency @total %></td>
	</tr>

</table>
<% else %>
<p>No prints jobs found.</p>
<% end %>